<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Form</title>
</head>
<body>
    <h2>Employee Form</h2>
    <form action="#" th:action="@{/employees/form}" th:object="${employee}" method="post">
        <input type="text" th:field="*{firstName}" placeholder="First Name" />
        <input type="text" th:field="*{lastName}" placeholder="Last Name" />
        <input type="text" th:field="*{email}" placeholder="Email" />
        <p>Please select the employees role:</p>
        <select name="role">
            <option th:each="role : ${T(com.tobiastrabant.workmanager.entities.Employee.EmployeeRole).values()}"
                    th:value="${role}" th:text="${role.displayValue}"></option>
        </select>
        <br><br>
        <input type="submit" />
    </form>
</body>
</html>