<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Form</title>
</head>
<body>
<h2>Task Form</h2>
<form action="/process-task-form" method="GET">
    <input type="text" name="name" placeholder="Task Name" />
    <p><label for="description">Task Description:</label></p>
    <textarea id="description" name="description" rows="4" cols="50">Enter Task Description Here...</textarea>
    <br>
    <label for="deadline">Task Deadline:</label>
    <input type="datetime-local" id="deadline" name="deadline">
    <p>Please select the tasks priority:</p>
    <select name="priority">
        <option th:each="priority : ${T(com.tobiastrabant.workmanager.entities.Entry.EntryPriority).values()}"
                th:value="${priority}" th:text="${priority.displayValue}"></option>
    </select>
    <br><br>
    <input type="submit" />
</form>
</body>
</html>